@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-light-blue-grey: #B0BEC5;
  --color-dark-slate: #455A64;
  --color-charcoal-blue: #263238;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* Custom styles for the offers slider */
.embla__slide--offer {
  flex: 0 0 80%;
  min-width: 0;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .embla__slide--offer {
    flex: 0 0 33.3333%;
  }
}

.embla__prev,
.embla__next {
  z-index: 1;
  cursor: pointer;
}
